@model AdaptiveLearningApplication.Models.QuestionPoolModel


@{var question = Model.Question;}
    <div class="display-field">
            @question
        </div>
        
        @foreach (var options in Model.QuestionOptions){
            <label class="radio-inline" >@Html.RadioButton("op", options.QuestionOptionStatement, false, new { @id ="radSelected" }) @options.QuestionOptionStatement</label>
        }
        
        @Html.Hidden("Answer",Model.Answer)