@{
    ViewBag.Title = "AdminDashboard";
}

<h2>AdminDashboard</h2>
<div class="row" style="margin-bottom: 473px;">
    <div class="col col-md-2">
    </div>
    <div style="margin-top: 25px;" class="col col-md-6">
        <div class="col col-md-3  panel panel-success">
            <div class="panel-body" style="margin-left: 36px; cursor: pointer">
                <div class="row">
                    <div class="col">
                        <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    @Html.ActionLink("Add Teacher", "Create", "Teacher")
                </div>
            </div>
        </div>
         <div class="col col-md-3 col-md-offset-1  panel panel-success">
            <div class="panel-body" style="margin-left: 36px; cursor: pointer">
                <div class="row">
                    <div class="col">
                        <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row">
                    @Html.ActionLink("Add Course", "Create", "Course")
                </div>
            </div>
        </div>

    </div>
    <div class="col col-md-2">
    </div>
</div>
