@{
    ViewBag.Title = "Home Page";
}

<div class="home-sec" id="home">
    <div class="overlay">
        <div class="container">
            <div class="row text-center ">

                <div class="col-lg-12  col-md-12 col-sm-12">

                    <div class="flexslider set-flexi" id="main-section">
                        <ul class="slides move-me">

                            <!-- Slider 01 -->

                            <li>
                                <h3>Delivering Quality Learning</h3>
                                <h1>THE UNIQUE METHOD</h1>
                                <a href="#faculty-sec" class="btn btn-info btn-lg">GET LOGIN 
                                </a>
                            </li>
                            <!-- End Slider 01 -->

                            <!-- Slider 02 -->
                            <li>
                                <h3>Delivering Quality Education</h3>
                                <h1>UNMATCHED APPROACH</h1>
                                <a href="#features-sec" class="btn btn-primary btn-lg">GET APPROACH 
                                </a>
                                <a href="#course-sec" class="btn btn-danger btn-lg">GET STARTED 
                                </a>
                            </li>
                            <!-- End Slider 02 -->

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--HOME SECTION END-->

<div class="tag-line">
    <div class="container">
        <div class="row  text-center">

            <div class="col-lg-12  col-md-12 col-sm-12">

                <h2 data-scroll-reveal="enter from the bottom after 0.1s"><i class="fa fa-circle-o-notch"></i>WELCOME TO THE ADAPTIVE LEARNING CENTER <i class="fa fa-circle-o-notch"></i></h2>
            </div>
        </div>
    </div>
</div>

<!--HOME SECTION TAG LINE END-->

<div id="features-sec" class="container set-pad">
    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">

            <h1 data-scroll-reveal="enter from the bottom after 0.2s" class="header-line">FEATURE LIST </h1>
            <p data-scroll-reveal="enter from the bottom after 0.3s">Here are the feature of the Adaptive Learning Assesment application.</p>
        </div>
    </div>
    <!--/.HEADER LINE END-->


    <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
            <div class="about-div">
                <i class="fa fa-paper-plane-o fa-4x icon-round-border"></i>
                <h3>Quality Quiz</h3>
                <hr />
                <hr />
                <p>Why we called it Quality quiz? </p>
                <a href="#" class="btn btn-info btn-set">Details</a>
            </div>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
            <div class="about-div">
                <i class="fa fa-bolt fa-4x icon-round-border"></i>
                <h3>SYSTEMATIC APPROACH</h3>
                <hr />
                <hr />
                <p>The approach used in quizes </p>
                <a href="#" class="btn btn-info btn-set">Adaptive Learning Approach</a>
            </div>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
            <div class="about-div">
                <i class="fa fa-magic fa-4x icon-round-border"></i>
                <h3>Helping Material</h3>
                <hr />
                <hr />
                <p>We used some Helping Material Why?</p>
                <a href="#" class="btn btn-info btn-set">Details</a>
            </div>
        </div>
    </div>
</div>

<!-- FEATURES SECTION END-->
@if (!Request.IsAuthenticated)
{
<div id="faculty-sec">
    <div class="container set-pad">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">SIGNIN</h1>
                <p data-scroll-reveal="enter from the bottom after 0.3s">Welcome Users</p>
            </div>

        </div>
        <!--/.HEADER LINE END-->

        <div class="row">

            <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
                <div class="faculty-div">
                    <img src="images/faculty/1.jpg" class="img-rounded" />
                    <h3>ADMIN</h3>
                    <hr />
                    <h4>Welcome Admin
                            <br />
                        Please Login here</h4>
                    <a href="#login_modal" data-toggle="modal" class="btn btn-info btn-set">LOGIN</a>
                </div>
            </div>

            <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
                <div class="faculty-div">
                    <img src="images/faculty/2.jpg" class="img-rounded" />
                    <h3>STUDENT</h3>
                    <hr />
                    <h4>Welcome Students
                            <br />
                        Please Login here</h4>
                    <a href="#login_modal" data-toggle="modal" class="btn btn-info btn-set">LOGIN</a>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
                <div class="faculty-div">
                    <img src="images/faculty/3.jpg" class="img-rounded" />
                    <h3>FACULTY</h3>
                    <hr />
                    <h4>Welcome Faculty
                            <br />
                        Please Login here</h4>
                    <a href="#login_modal" data-toggle="modal" class="btn btn-info btn-set">LOGIN</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- FACULTY SECTION END-->
}
<!--modal window-->
<div class="modal fade" id="login_modal">
    <div class="modal-dialog" style="width: 760px;">
        <div class="modal-content" id="dialog">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>

                <!-- Tabs-->
                <div class="tabbable">
                    <ul class="nav nav-pills" style="margin-bottom: 10px;">
                        <li class="active"><a href="#pill1" data-toggle="pill" style="margin: 0px 0px;">Login</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="pill1">
                            @Html.Partial("_LoginModal")
                        </div>
                        <!--end tab pane 1-->

                    </div>
                    <!--end tab-content-->

                </div>
                <!--end tabbable-->


            </div>
            <!--end modal-header-->
        </div>
        <!--end modal-content-->
    </div>
    <!--end modal-dialog-->
</div>
<!--end modal fade-->
@if (!Request.IsAuthenticated)
{
<div id="course-sec" class="container set-pad">
    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
            <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">SIGNUP</h1>
            <p data-scroll-reveal="enter from the bottom after 0.3s">Please provide the following details</p>
        </div>

    </div>
    <!--/.HEADER LINE END-->

    @Html.Partial("_RegisterModal")

</div>
<!-- COURSES SECTION END-->
}
<div id="contact-sec">
    <div class="overlay">
        <div class="container set-pad">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">CONTACT US  </h1>
                    <p data-scroll-reveal="enter from the bottom after 0.3s">Feel free to contact us</p>

                </div>

            </div>
            <!--/.HEADER LINE END-->
            <div class="row set-row-pad" data-scroll-reveal="enter from the bottom after 0.5s">


                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control " required="required" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control " required="required" placeholder="Your Email" />
                        </div>
                        <div class="form-group">
                            <textarea name="message" required="required" class="form-control" style="min-height: 150px;" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block btn-lg">SUBMIT REQUEST</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row set-row-pad">
        <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1 " data-scroll-reveal="enter from the bottom after 0.4s">

            <h2><strong>ABOUT US</strong></h2>
            <hr />
            <div>
                <h4>CAPITAL UNIVERSITY OF SCIENCE & TECHNOLOGY</h4>
                <h4>ISLAMABAD</h4>
                <h4><strong>NAME :</strong>  Name</h4>
                <h4><strong>REG #</strong>BC</h4>
            </div>


        </div>
        <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1" data-scroll-reveal="enter from the bottom after 0.4s">

            <h2><strong>Social Conectivity </strong></h2>
            <hr />
            <div>
                <a href="#">
                    <img src="images/Social/facebook.png" alt="" />
                </a>
                <a href="#">
                    <img src="images/Social/google-plus.png" alt="" /></a>
                <a href="#">
                    <img src="images/Social/twitter.png" alt="" /></a>
            </div>
        </div>


    </div>
</div>
<!-- CONTACT SECTION END-->

@*<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@
