@{
    ViewBag.Title = "TeacherDashboard";
}

<h2>TeacherDashboard</h2>

<div class ="row">
    <div class="col col-l3">

    </div>

    <div class="col col-l6">
        <!--Add Panels/Cards-->
        @Html.ActionLink("Add Quiz", "Index", "Quiz")
    </div>

    <div class="col col-l3">

    </div>
</div>