@{
    ViewBag.Title = "TeacherDashboard";
}

<h2>TeacherDashboard</h2>
<div class="row" style="margin-bottom:473px;">
    <div class="col col-md-3">
    </div>
    <div class="col col-md-6">
        <div class="col col-md-3 panel panel-success">
            <div class="panel-body">
                @Html.ActionLink("Add Quiz", "Create", "Quiz")
            </div>
        </div>
        <div class="col col-md-3 panel panel-success">
            <div class="panel-body">
                @Html.ActionLink("Add Material", "Create", "Quiz")
            </div>
        </div>
    </div>
    <div class="col col-md-3">
    </div>
</div>
