@{
    ViewBag.Title = "RoleIndex";
}

@Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Add Role to User", "RoleAddToUser")

<h2>RoleIndex</h2>

    <div class="table">
        
    
@foreach (string s in Model)
{
    <div class="tr">
        <div class="td">
            @s
        </div>
        <div class="td">
            <span onclick="return confirm('Are you sure to delete?')">
        <a href="/Account/RoleDelete?RoleName=@s" class="delLink"><img src="/images/deleteicon.gif" alt="Delete" class="imgBorder0" /> Delete</a>
                           </span>
        </div>
    </div>
}
        </div>